.markup-add {
  padding: 35px 30px;
  position: relative;
  margin-left: 265px;
}
.markup-add .form-add {
  margin-top: 80px;
}
.markup-add .image,
.markup-add .image input,
.markup-add .image .icon1 {
  width: 250px;
  height: 250px;
  position: relative;
}
.markup-add .image {
  background: blue;
  border-radius: 6px;
  border: 1px dashed #fff;
  margin-top: 10px;
}

.markup-add .image input {
  opacity: 0;
  cursor: pointer;
  z-index: 100;
}

.markup-add .image .icon1 {
  position: absolute;
  top: 0;
  align-content: center;
  text-align: center;
  color: #fff;
  font-size: 26px;
}
.markup-add .form {
  padding: 25px 0;
}
.markup-add .form .fields {
  background-color: #fff;
  padding: 20px;
}
