.markup-list {
  position: relative;
  padding: 35px 0px;
  margin-left: 265px;
}
.markup-list .srch-form {
  margin-top: 80px;
  padding: 12px;
  background: #19222e;
}
.markup-list .srch-form .serch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.markup-list .srch-form .serch .field {
  width: 100%;
}
.markup-list .srch-form .serch .field .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.markup-list .srch-form .serch .field select {
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 0 3px inset #dfdfdf;
  height: 45px;
  padding: 5px;
}
.markup-list .srch-form .serch .srch-btn button {
  background: linear-gradient(145deg, #fc136f, #9b0340);
  width: 100%;
  height: 45px;
  border: none;
}
.markup-list .listing .border {
  width: 100%;
  background: #19222e;
}
.markup-list .listing .border table {
  width: 100%;
}
.markup-list .listing .border th {
  padding: 10px;
  color: #595959;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid rgb(225, 225, 225);
  background: #fc136f;
  color: #fff;
  text-transform: uppercase;
}
.markup-list .listing .border td {
  padding: 10px;
  text-transform: capitalize;
  font-size: 15px;
  text-align: center;
  color: #035593;
  border-bottom: 1px solid rgb(225, 225, 225);
  border: 2px solid #fff;
}
.markup-list .listing .border td a {
  margin-right: 10px;
}
.markup-list .listing .border td a i {
  font-size: 20px;
  color: #9f6d00;
}
.markup-list .link {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #19222e;
}
.markup-list .link ul {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.markup-list .link ul li {
  padding: 10px;
}
.markup-list .btns {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.markup-list .btns button {
  padding: 10px 20px;
  margin: 0 10px;
  background: linear-gradient(145deg, #a02355, #fc136f);
  border: none;
  color: #fff;
  border-radius: 5px;
}
