main {
  width: calc(100% - 265px);
  margin-left: 265px;
  background-color: #eaeaea;
}

header {
  width: 100%;
  z-index: 1;
  background: #1e3c72;
  height: 103px;
  display: flex;
  position: fixed;
  align-items: center;
}

header .welcome {
  margin-left: 30px;
  font-size: 26px;
  font-weight: bolder;
  color: #ffffff;
  font-family: "Gill Sans", sans-serif;
}

header .Profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fb7b13;
}
header .Profile figure img {
  border-radius: 50%;
}

header .icon-list {
  display: flex;
  margin-left: 350px;
}

header .icon-list ul {
  display: flex;
  align-items: center;
  margin-right: 10;
  margin-bottom: 0px;
}

header .icon-list ul li {
  margin-left: 10px;
}

header .icon-list ul li i {
  font-size: 24px;
  color: #ffff;
}
header .icon-list ul li i:hover {
  color: #ef8216;
}

header .pro-details {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

header .dropdown-img {
  position: relative;
}

header .pro-details strong {
  font-weight: bolder;
  display: none;
}

/* header .pro-details .drop-down {
    box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
    border: 0;
    border-radius: 5px;
    min-width: 11.5rem;
    padding: .5rem 0;
} */
