.markup-login a {
  text-decoration: none;
}
.markup-login {
  background-image: url(../img/bg-ban.jpg);
  background-size: cover;
}
.markup-login .content {
  width: 28%;
  border: 1px solid #00000080;
  box-shadow: 1px 1px 0px #625f5f4f;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.markup-login .content h4 {
  font-size: 16px;
  border-bottom: 1px solid #00000080;
  padding: 10px;
  font-weight: 400;
  color: #000000b3;
  margin: 0;
}

.markup-login .content figure {
  text-align: center;
  background-color: #fff;
  margin: 0;
  padding-top: 25px;
}

.markup-login .content figure .logo {
  width: 150px;
}

.markup-login.content ul {
  padding: 15px;
  background: #ffffff;
  list-style: none;
}

.markup-login .content ul li {
  width: 90%;
  font-size: 15px;
  font-weight: 600;
  color: #000000b3;
  margin-bottom: 30px;
  position: relative;
}
.markup-login .content ul li label {
  height: 25px;
}
.markup-login .content ul li::before {
  position: absolute;
  content: "\f023";
  font: normal normal normal 16px/1 FontAwesome;
  left: 0;
  top: 25px;
  background: #eee;
  border: 1px solid #00000080;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 3px 0 0 3px;
}

.markup-login .content ul li input {
  width: 90%;
  margin-left: 40px;
  padding: 0 5px;
  outline: none;
  height: 40px;
  border: 1px solid #00000080;
  border-radius: 0 3px 3px 0;
}

.markup-login .content button {
  padding: 10px 0;
  width: 100px;
  border-radius: 2px;
  background: #edb036;
  border: none;
  color: #fff;
  font-size: 16px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s;
}
.markup-login .content button:hover {
  background-color: #000;
}
.markup-login .content ul li a {
  font-size: 13px;
  color: #1e91cf;
}
